{{ if and (isset .Site.Params "cc")  (in (slice "post" "posts") .Type) }}
<div class="post-archive">
    <ul class="post-copyright">
        <li><strong>{{ i18n "Copyright_author" }}</strong><a rel="author" href="{{ .Site.BaseURL}}">{{ if isset .Site.Author "name" }}{{.Site.Author.name}}{{ else }}{{.Site.Title}}{{ end }}</a></li>
        {{ $url := urls.Parse $.Permalink }}
        {{ $decodedBaseURL := (printf `%s://%s` $url.Scheme $url.Host) }}
        {{ $decodedPath := $url.Path }}
        {{ $decodedPermalink := (printf `%s%s` $decodedBaseURL $decodedPath) }}
        <li style="word-break:break-all"><strong>{{ i18n "Copyright_link" }}</strong><a href="{{ .Permalink }}">{{ $decodedPermalink }}</a></li>
        <li><strong>{{ i18n "Copyright_license" }}</strong>{{ i18n "Copyright_license_workUnder" }}<a rel="license" href="{{.Site.Params.cc.link}}">{{.Site.Params.cc.name}}</a>. {{ i18n "Copyright_license_note" }}</li>
    </ul>
</div>
<br/>
{{ end }}
