{{- $datetime_format := i18n "Datetime_format" -}}
{{- if not .PublishDate.IsZero -}}
  <time datetime="{{ .PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="post-meta meta-date dt-published">
    {{- time.Format $datetime_format .PublishDate -}}
  </time>
{{- end -}}
{{- with .Params.Categories -}}
<div class="post-meta meta-category">
  <span>&nbsp;|&nbsp;</span>
  {{- range $index, $category := . -}}
    {{- if ne $index 0 -}}
      {{- $.Site.Params.categoryDelimiter | default "/" -}}
    {{- end -}}
    {{- $path := (urls.Parse ($category | urlize)).Path -}}
    {{- with $.Site.GetPage (printf `/categories/%s` $path) -}}
        <a href="{{- .RelPermalink -}}" class="category-link p-category" target="_blank">
            {{- .LinkTitle | default $path -}}
        </a>
    {{- end -}}
  {{ end }}
</div>
<span class="post-meta meta-category">&nbsp;|&nbsp; {{ $.WordCount }} {{ i18n "words" }}</span>
<span class="post-meta meta-category">&nbsp;|&nbsp; {{ $.ReadingTime }}&nbsp;{{ i18n "minutes" }}</span>
{{- end }}
