<!-- flowchart -->
{{- if .Page.Store.Get "hasFlowchart" -}}
{{- if and (or .Params.flowchartDiagrams.enable (and .Site.Params.flowchartDiagrams.enable (ne .Params.flowchartDiagrams.enable false))) (or .IsPage .IsHome) -}}
    {{- $defaultCdnJsSite := "cdnjs.cloudflare.com" -}}
    <script src="//{{ .Site.Params.cdnJsSite | default $defaultCdnJsSite }}/ajax/libs/raphael/2.2.8/raphael.min.js" crossorigin="anonymous"></script>
    <script src="//{{ .Site.Params.cdnJsSite | default $defaultCdnJsSite }}/ajax/libs/flowchart/1.12.2/flowchart.min.js" crossorigin="anonymous"></script>
    <script>
        {{- if .Params.flowchartDiagrams.options -}}
            window.flowchartDiagramsOptions = {{ .Params.flowchartDiagrams.options | safeJS }};
        {{- else if .Site.Params.flowchartDiagrams.options -}}
            window.flowchartDiagramsOptions = {{ .Site.Params.flowchartDiagrams.options | safeJS }};
        {{- end -}}
        (function () {
            if (!window.flowchart) return;
            const blocks = document.querySelectorAll('pre.flowchart, pre.flow');
            for (let i = 0; i < blocks.length; i++) {
                const block = blocks[i];
                const parentNode = block.parentNode;
                const container = document.createElement('div');
                const id = `js-flowchart-diagrams-${i}`;
                container.id = id;
                container.className = 'align-center';
                container.setAttribute("style", "overFlow-x:auto");
                parentNode.replaceChild(container, block);
                const diagram = flowchart.parse(block.childNodes[0].nodeValue);
                try {
                    diagram.drawSVG(id, window.flowchartDiagramsOptions ? window.flowchartDiagramsOptions : {});
                } catch(e) {
                    parentNode.outerHTML = `<pre class="error">${e}</pre>`
                }
            }
        })();
    </script>
{{- end -}}
{{- end -}}
