{{ if .Site.Params.math.katex -}}
<link rel="stylesheet" href="https://unpkg.com/katex@0.16.8/dist/katex.min.css"
    integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
<script defer src="https://unpkg.com/katex@0.16.8/dist/katex.min.js"
    integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx"
    crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/katex@0.16.8/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/mhchem.min.js"
    integrity="sha384-ifpG+NlgMq0kvOSGqGQxW1mJKpjjMDmZdpKGq3tbvD3WPhyshCEEYClriK/wRVU0"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/copy-tex.min.js"
    integrity="sha384-ww/583aHhxWkz5DEVn6OKtNiIaLi2iBRNZXfJRiY1Ai7tnJ9UXpEsyvOITVpTl4A"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            // customised options
            // • auto-render specific keys, e.g.:
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: true }
            ],
            // • rendering keys, e.g.:
            throwOnError: false
        });
    });
</script>
{{- else if .Site.Params.math.mathjax -}}
<script>
    MathJax = {
        loader: {
            load: [
                '[tex]/all-packages',
            ]
        },
        tex: {
            inlineMath: [['\\(', '\\)']],
            displayMath: [             // start/end delimiter pairs for display math
                ['$$', '$$'],
                ['\\[', '\\]']
            ],
            processEscapes: true,      // use \$ to produce a literal dollar sign
            processEnvironments: false, // process \begin{xxx}...\end{xxx} outside math mode
            processRefs: true,         // process \ref{...} outside of math mode
            digits: /^(?:[0-9]+(?:\{,\}[0-9]{3})*(?:\.[0-9]*)?|\.[0-9]+)/,
            // pattern for recognizing numbers
        },
        svg: {
            scale: 1.2,
            fontCache: 'global'
        },
        chtml: {
            scale: 1.2,
            matchFontHeight: true,
        },
        options: {
            enableMenu: false,          // set to false to disable the menu
            skipHtmlTags: [            //  HTML tags that won't be searched for math
                'script', 'noscript', 'style', 'textarea', 'pre',
                'code', 'annotation', 'annotation-xml'
            ],
            includeHtmlTags: {         //  HTML tags that can appear within math
                br: '\n', wbr: '', '#comment': ''
            },
        },
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js"></script>
{{- end }}
